@model IEnumerable<GIG.Models.Video>

@{
    ViewBag.Title = "Archive";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string gig = (string)ViewData["gig"];
    List<string> archives = (List<string>)ViewData["archives"];
}


<div class="vertical-space-md"></div>
<div>
    @{
        foreach (string archive in archives) {
            var active = (archive == gig) ? "btn-primary" : "btn-secondary";

            <a href="?year=@archive" class="btn btn-sm @active">@archive</a>
        }
    
}
</div>

<div class="vertical-space-xs"></div>

<div class="row">

    @{
        if (Model == null) {
            return;
        }

        foreach (var video in Model) {

            var thumbnail = String.Format("../Content/{0}/stills/{1}", gig, video.ThumbnailFile);
            var abstractText = "Text Missing";

            try {
                using (StreamReader sr = new StreamReader(
                    Server.MapPath(String.Format("~/Content/{0}/abstracts/{1}", gig, video.AbstractFile)))) {

                    abstractText = sr.ReadToEnd();

                    if (abstractText.Length > 140) {
                        abstractText = abstractText.Substring(0, 137) + "...";
                    }
                }
            } catch (Exception e) {
                // I am lazy
            }

            var color = "white";
            var starclass = "glyphicon-star-empty";
            if (video.VotedByMe) {
                color = "gold";
                starclass = "glyphicon-star";
            }

            var src = "https://tricentisgmbh.sharepoint.com/portals/hub/_layouts/15/VideoEmbedHost.aspx?chId=" + video.Channelid.Replace("-", "%2D") + "&amp;vId=" + video.Videoid.Replace("-", "%2D") + "&amp;width=427&amp;height=240&amp;autoPlay=false&amp;showInfo=true";


            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 videoframe" id="videoframe-@video.Team" style="padding:10px;border: 5px solid @color" data-toggle="tooltip" title="@abstractText">
                <iframe src="@src"
                        allowfullscreen></iframe>
                <div class="pull-right votes"><span id="votes-video-@video.Team" data-video="@video.Team">@video.Votes</span> <i id="voting-video-@video.Team" class="glyphicon @starclass" style="color: @color" data-video="@video.Team"></i></div>
            </div>


        }
    }

</div>