@model IEnumerable<GIG.Models.Video>

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string gig = (string)ViewData["gig"];
    string sortOrder = (string)ViewData["sortOrder"];

    var teamorderactive = "btn-secondary";
    var votesorderactive = "btn-secondary";
    var shuffleactive = "btn-secondary";

    if (sortOrder == "team") { teamorderactive = "btn-primary"; }
    if (sortOrder == "votes") { votesorderactive = "btn-primary"; }
    if (sortOrder == "shuffle") { shuffleactive = "btn-primary"; }

}

<div class="vertical-space-md"></div>
<div>
    <a href="?sortOrder=team" class="btn btn-sm @teamorderactive"><i class="glyphicon glyphicon-user"></i> by team</a> 
    <a href="?sortOrder=votes" class="btn btn-sm @votesorderactive"><i class="glyphicon glyphicon-star"></i> by votes</a> 
    <a href="?sortOrder=shuffle" class="btn btn-sm @shuffleactive"><i class="glyphicon glyphicon-random"></i> shuffle</a>
</div>

<div class="vertical-space-xs"></div>    
<div class="row">
    @{ if (Model == null) {
            return;
        }
    }

    @{ if (Model.Count() == 0) {
            
            <div class="vertical-space-xs"></div>
            <div class="panel panel-info">
                <div class="panel-body">There are no videos yet!<br />You might want to look at the <a href="/Archive">archive</a>?</div>
            </div>

        }
    }

    @{foreach (var video in Model) {

            var thumbnail = String.Format("../Content/{0}/stills/{1}", gig, video.ThumbnailFile);
            var abstractText = "Text Missing";

            try {
                using (StreamReader sr = new StreamReader(
                    Server.MapPath(String.Format("~/Content/{0}/abstracts/{1}", gig, video.AbstractFile)))) {

                    abstractText = sr.ReadToEnd();

                    if (abstractText.Length > 140) {
                        abstractText = abstractText.Substring(0, 137) + "...";
                    }
                }
            } catch (Exception e) {
                // I am lazy
            }

            var color = "white";
            var starclass = "glyphicon-star-empty";
            if (video.VotedByMe) {
                color = "gold";
                starclass = "glyphicon-star";
            }

            var src = "https://tricentisgmbh.sharepoint.com/portals/hub/_layouts/15/VideoEmbedHost.aspx?chId=" + video.Videoid + "&vId=" + video.Videoid + "width=427&height=240&autoPlay=false&showInfo=true";



            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 videoframe" id="videoframe-@video.Team" style="border: 5px solid @color" data-toggle="tooltip" title="@abstractText">
                <iframe 
                        src="@src"
                        allowfullscreen>
                </iframe>
                <div class="pull-right votes" title="Upvote video"><span id="votes-video-@video.Team" data-video="@video.Team">@video.Votes</span> <i id="voting-video-@video.Team" class="glyphicon @starclass voting" style="color: @color" data-video="@video.Team"></i></div>
            </div>


        }
    }

</div>

    @section scripts {
        <script type="text/javascript">

    $('.voting').each(function () {
        var $this = $(this);
        $this.on("click", function () {
            vote($(this).data('video'));
        });
    });


    function setVoted(videoId, voted) {
        star = $("#voting-video-" + videoId);
        frame = $("#videoframe-" + videoId);

        if (voted) {
            star.removeClass("glyphicon-star-empty");
            star.addClass("glyphicon-star");
            star.css('color', 'gold');
            frame.css('border', '5px solid gold');
        } else {
            star.removeClass("glyphicon-star");
            star.addClass("glyphicon-star-empty");
            star.css('color', 'white');
            frame.css('border', '5px solid white');
        }
    }

    function setVotes(videoId, votes) {
        votesElement = $("#votes-video-" + videoId);
        votesElement.text(votes);
    }


    function vote(id) {
        var url = "@Url.Action("Vote", "Projects")";

        $.ajax({
            type: "POST",
            url: url,
            data: "{ 'videoId': " + id + " }",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: successFunc,
            error: errorFunc
        });

        function successFunc(data, status) {
            setVoted(data.video, data.voted);
            setVotes(data.video, data.votes);
        }

        function errorFunc(data, status) {
            alert('something went wrong - maybe voting is not yet enabled');
        }
    }
        </script>
    }
